#albumSelection{
    margin:0 auto;
    display: block;
    text-align: center;
}
#images{
   width:100%;
   margin: 0 auto;
   text-align: center;
}
#images img{
    margin: .3em;
    vertical-align: top;
    object-fit: cover;
}

modal img{
    width:95%;
    display: block;
    margin: auto;
    max-height: 90%;
}
.modal-body{
    padding:0;
}
h1{
    margin: 1em auto;
    text-align: center;
}
input{
    border: 0;
    width:100%;
    text-align: center;
}
h3{
    text-align: center;
    margin: .2em;
}
