<!--component html goes here -->
<h1>
    <a [routerLink]="['/albums']">Bedrock Products /</a>
    <a *ngIf="parent" [routerLink]="['/album/' + parent]">{{ parent }} /</a>
    {{ albumName }}
</h1>
<div id='albumSelection' style="display: none;" >
    <label for='albumSelect'>Select Album:</label>
    <select id='albumSelect' (change)="changeAlbum($event.target.value)">
        <option *ngFor="let album of albums of albums" [value]="album.name" [selected]="selectedAlbum && selectedAlbum.name == album.name" >{{album.name}}</option> 
        <option value='eldorado'>Eldorado Visualizer</option>
    </select>
    <span> | </span>
    <a href="#">Back to Landing</a>
    
</div>

<div id='images' *ngIf="selectedAlbum && selectedAlbumId !== 'eldorado'">
    <!-- <img [style.width] ="imgWidthPct + '%'" (click)="selectImage(image)" *ngFor="let image of selectedAlbum.images" [src]="image.url.replace('1024','640')" />  -->
    <div [style.width] ="imgWidthPct + '%'" (click)="selectImage(image)" *ngFor="let image of selectedAlbum.images">
        <b>{{ image.title }}</b>
        <img style="width: 100%" [src]="image.url.replace('1024', '640')" />
    </div> 
</div>

<modal #modal size='lg'>
    <modal-header [show-close]="true">
        <h3>
            <input *ngIf="selectedAlbumImage" [(ngModel)]="selectedAlbumImage.title" (change)="selectedAlbumImage.dirty = true" />
        </h3>
    </modal-header>
    <modal-body>
        <img [src]="selectedAlbumImage ? selectedAlbumImage.url : '#'" />
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <input *ngIf="selectedAlbumImage" [(ngModel)]="selectedAlbumImage.key" (change)="selectedAlbumImage.dirty = true" />
    </modal-footer>
</modal>
<iframe *ngIf="selectedAlbumId === 'Eldorado Thin Veneer'" src="http://eldorado.renoworks.com" width="100%" height="900px"></iframe> 